ody {
    font-family: Georgia, serif;
    text-align: center;
    background: whitesmoke;
    margin: 0;
    padding: 20px;
}

h2 {
    background-color: saddlebrown;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: solid 2px sienna;
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px black;
}

#logo {
    margin-top: 10px;
    border: solid 3px sienna;
    border-radius: 8px;
}

.card {
    background: cornsilk;
    border: 2px solid burlywood;
    padding: 15px;
    width: 60%;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.controls select {
    padding: 8px;
    margin: 5px;
    border: 2px solid burlywood;
    background: linen;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.controls select:focus {
    border-color: goldenrod;
    background: oldlace;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 85%;
    border: 2px solid saddlebrown;
    background: ivory;
}

th, td {
    border: 1px solid tan;
    padding: 10px;
}

th {
    background: wheat;
    color: sienna;
}

tbody tr:nth-child(even) {
    background: whitesmoke;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.btn {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid transparent;
}

.e-btn:hover {
    border: 2px solid black;
}

.x-btn:hover {
    border: 2px solid black;
}

.e-btn {
    background-color: green;
    color: white;
}

.x-btn {
    background-color: firebrick;
    color: white;
}
