body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    
    }
    
    h2{
    
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    
    }
    
    table{
    
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    
    }
    
    th, td {
    
    border: 1px solid grey;
    padding: 8px;
    }
    
    button{
    
    margin: 2px;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    }
    
    .btn
    {
    border: none;
    color: white;
    padding: 5px 8px;
    margin: 1px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    
    }
    
    .acciones{
    
    display: flex;
    justify-content: center;
    gap: 5px;
    
    }
    
    e.btn{
    
    background-color: dodgerblue;
    
    }
    
    #x-btn {
    
    background-color: crimson;
    
    }
